#catNav ul {
    list-style-type: none;
    margin: 5px;
    border: 1px solid black;
    padding-inline-start: 5px;
}

#catNav ul > li {
    margin: 2px;
}

.openbutton {
    margin: 1px;
}

.searchlink:hover {
    cursor: pointer;
    color: #383838
}

#secondarysearchbar {
    margin: 1.1em;
}

#secondarysearchbar * {
    margin: 0px 5px;
}

#pagenav {
    text-align: center;
    display: block;
    padding: 10px;
}

#pagenav > span {
    display: block;
}

#pagenav > ul {
    display: inline;
    background-color: lightsalmon;
    border: 1px solid black;
    list-style-type: none;
    padding-inline-start: 0px;
    padding: 0px 5px;
    border-radius: 10px;
}

#pagenav .actpage {
    background-color: #DCDCF5;
}

.navbutton:hover {
    cursor: pointer;
    color: red
}

#pagenav li {
    display: inline;
    margin: 5px;
    text-align: center;
}
