/*commonstyle*/

body {
    background-color:#F5F5DC;

}

main{
    margin: 10px;
}
.csstable
{
    display:table;

}

.cssTable .cssRow
{
    display:table-row;
    box-sizing: content-box;
}

.cssTable .cssRow>*
{
    display:table-cell;
}

/*Mainbookdiv*/
#mainBookDiv
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
}

.bookDiv
{
    display:grid;
    grid-template-columns: 150px 200px;
    margin: 10px;
}


figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*figure>a>img{*/
/*    height: 212px;*/
/*    width: 150px;*/
/*}*/

.bookDesc>section
{
    margin: 10px;
    margin-bottom:auto ;
}

.bookDesc section:nth-of-type(3)
{
    margin-bottom:0% ;
}

.tableMain{
    display:grid;
    grid-template-columns: 20% 80% ;
}



a{
    text-decoration:none;
    color: darkslateblue;
    padding: 3px;
}

a:hover
{
    color: green;
    background-color:#b697bd;
    border-radius: 6px;
}

.searchLink:visited, .searchLink:link
{
    color: darkslateblue;
}

[aria-current=page] {
    background-color: #DCDCF5;
    color: #000;
/*border-bottom: .25em solid #444;*/
}
